<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_card_metal_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>bg_card_num_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,111},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>bg_firstbonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,938},{257,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,36}</string>
			</dict>
			<key>bg_resources_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{136,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,111}</string>
			</dict>
			<key>btn_diamond_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,810},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_diamond_card_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,802},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,824},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_fb_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,824},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_fb_card_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,874},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_fb_dialog_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,472},{100,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,82}</string>
			</dict>
			<key>btn_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,610},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_free_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,733},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>btn_free_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,615},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_phone_login_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{191,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,122}</string>
			</dict>
			<key>btn_phone_login_setting_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{191,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,122}</string>
			</dict>
			<key>btn_wechat_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,674},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>btn_wechat_card_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,669},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>button_card_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,680},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>button_card_rank_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,745},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>button_card_rank_normal_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,759},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>button_card_rank_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,759},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>dialog_head_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,595},{104,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,74}</string>
			</dict>
			<key>dialog_shelter.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{620,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{620,59}</string>
			</dict>
			<key>dialog_shelter_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,161},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>icon_continue_rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,332},{138,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,156}</string>
			</dict>
			<key>icon_continue_rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,335},{138,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,156}</string>
			</dict>
			<key>icon_continue_rank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,334},{138,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,156}</string>
			</dict>
			<key>icon_fans.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,220},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>icon_fbdiamond_homepage.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,329},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>icon_finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,491},{88,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,119}</string>
			</dict>
			<key>icon_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,680},{89,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,79}</string>
			</dict>
			<key>icon_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,766},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>icon_hall_class.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,443},{78,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,75}</string>
			</dict>
			<key>icon_hallunlock_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,0},{146,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,166}</string>
			</dict>
			<key>icon_hallunlock_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,166},{146,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,166}</string>
			</dict>
			<key>icon_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,743},{61,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,35}</string>
			</dict>
			<key>icon_payTip.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,740},{74,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,62}</string>
			</dict>
			<key>icon_payTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,59},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>icon_phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,245},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>icon_rank_medal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,606},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>icon_rank_medal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,673},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>icon_rank_medal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,738},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>icon_rank_medal_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,669},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>icon_setting_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,156},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>
			<key>icon_timecounter.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,297},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,679},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>light_btn_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,612},{106,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,68}</string>
			</dict>
			<key>line_originprice.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,252},{10,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,3}</string>
			</dict>
			<key>list_drop_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,111},{6,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,7}</string>
			</dict>
			<key>log_default avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,692},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>log_icon_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,510},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>log_icon_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,194},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>num_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,230},{44,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,32}</string>
			</dict>
			<key>rank_bg_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,220},{114,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,115}</string>
			</dict>
			<key>rank_button_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,554},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>rank_button_back_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,606},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>rank_button_social.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,640},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>rank_button_social_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,220},{104,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,106}</string>
			</dict>
			<key>rank_button_social_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,606},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>rank_cuplight.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,202},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>rank_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,692},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>
			<key>rank_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,161}</string>
			</dict>
			<key>rank_icon_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,355},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,88}</string>
			</dict>
			<key>rank_icon_crown_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,262},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>rank_icon_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,328},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>rank_num_mosaic.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,286},{60,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,42}</string>
			</dict>
			<key>rank_sigle_dialog_no1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{178,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,194}</string>
			</dict>
			<key>rank_single_oliveright.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,470},{84,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,125}</string>
			</dict>
			<key>rank_single_oliverleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,490},{84,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,125}</string>
			</dict>
			<key>rank_total_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,332},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>rank_total_no1.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,194},{145,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,161}</string>
			</dict>
			<key>rank_total_no2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,355},{101,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,117}</string>
			</dict>
			<key>rank_total_no3.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,488},{88,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,118}</string>
			</dict>
			<key>rank_total_rankup_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,369},{96,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,141}</string>
			</dict>
			<key>rank_total_rankup_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,518},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>rank_total_rankup_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,59},{5,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,193}</string>
			</dict>
			<key>tag_discount.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,220},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,114}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_content2.png</string>
			<key>realTextureFileName</key>
			<string>Plist_content2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>