<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_bi_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>girl_bi_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>girl_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{283,437}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,437}}</string>
                <key>sourceSize</key>
                <string>{283,439}</string>
            </dict>
            <key>girl_eye_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{251,140}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,140}}</string>
                <key>sourceSize</key>
                <string>{251,172}</string>
            </dict>
            <key>girl_eye_mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,688},{251,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,87}}</string>
                <key>sourceSize</key>
                <string>{251,87}</string>
            </dict>
            <key>girl_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,287},{399,425}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{399,425}}</string>
                <key>sourceSize</key>
                <string>{405,425}</string>
            </dict>
            <key>girl_gebo_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,553},{193,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,181}}</string>
                <key>sourceSize</key>
                <string>{193,181}</string>
            </dict>
            <key>girl_gebo_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,341},{222,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,210}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
            <key>girl_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,337}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{511,337}}</string>
                <key>sourceSize</key>
                <string>{517,339}</string>
            </dict>
            <key>girl_hair_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>girl_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
            <key>girl_mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,748},{162,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,105}}</string>
                <key>sourceSize</key>
                <string>{168,107}</string>
            </dict>
            <key>girl_shou_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,553},{158,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,124}}</string>
                <key>sourceSize</key>
                <string>{158,124}</string>
            </dict>
            <key>girl_shou_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,748},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_guide_girl_smile.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de673fd1935165ca04860fda6431e016:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_guide_girl_smile.png</string>
        </dict>
    </dict>
</plist>
