<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl01_ArmL.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,638},{230,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,359}}</string>
                <key>sourceSize</key>
                <string>{230,359}</string>
            </dict>
            <key>girl01_body_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{229,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,250}}</string>
                <key>sourceSize</key>
                <string>{229,250}</string>
            </dict>
            <key>girl01_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,895},{134,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,222}}</string>
                <key>sourceSize</key>
                <string>{134,222}</string>
            </dict>
            <key>girl01_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1119},{120,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,218}}</string>
                <key>sourceSize</key>
                <string>{120,218}</string>
            </dict>
            <key>girl01_body_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,958},{182,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,287}}</string>
                <key>sourceSize</key>
                <string>{182,287}</string>
            </dict>
            <key>girl01_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,740},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>girl01_eye_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1018},{259,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,113}}</string>
                <key>sourceSize</key>
                <string>{259,113}</string>
            </dict>
            <key>girl01_eye_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1241},{247,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,101}}</string>
                <key>sourceSize</key>
                <string>{247,101}</string>
            </dict>
            <key>girl01_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{399,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,441}}</string>
                <key>sourceSize</key>
                <string>{399,441}</string>
            </dict>
            <key>girl01_face_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{399,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,441}}</string>
                <key>sourceSize</key>
                <string>{399,441}</string>
            </dict>
            <key>girl01_fingerR.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,343},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>girl01_foreArmR.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{67,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,175}}</string>
                <key>sourceSize</key>
                <string>{67,175}</string>
            </dict>
            <key>girl01_hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,403},{371,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,233}}</string>
                <key>sourceSize</key>
                <string>{371,233}</string>
            </dict>
            <key>girl01_hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{296,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,264}}</string>
                <key>sourceSize</key>
                <string>{296,264}</string>
            </dict>
            <key>girl01_hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,597},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>girl01_hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1133},{113,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,222}}</string>
                <key>sourceSize</key>
                <string>{113,222}</string>
            </dict>
            <key>girl01_hair05.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1142},{198,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>girl01_hair06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,744},{138,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,149}}</string>
                <key>sourceSize</key>
                <string>{138,149}</string>
            </dict>
            <key>girl01_hair07.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1133},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>girl01_hair_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,507}}</string>
                <key>sourceSize</key>
                <string>{339,507}</string>
            </dict>
            <key>girl01_handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,403},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>girl01_huDieJie.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,870},{290,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,146}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>girl01_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,348},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>girl01_mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,179},{167,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,67}}</string>
                <key>sourceSize</key>
                <string>{167,67}</string>
            </dict>
            <key>girl01_upArmR.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,823},{133,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,200}}</string>
                <key>sourceSize</key>
                <string>{133,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_guide_girl.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324abb9b4c285ee5b0885c702a08e59f:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_guide_girl.png</string>
        </dict>
    </dict>
</plist>
