<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Awards/full_combo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>Awards/full_combo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,259},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>Awards/full_combo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,513},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>Awards/full_combo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,767},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>Awards/full_combo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1021},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>Awards/heart_of_perserverance_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1495},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1661},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1827},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1495},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1661},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1827},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/heart_of_perserverance_grayed.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,5},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_award-bg-ray.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,171},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_gemini-music-note.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,337},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_JoS-Award-greyed.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,503},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_journey_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,669},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_journey_lvl1_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,835},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_journey_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1001},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_journey_lvl2_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,5},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_music-note-duet_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,171},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_music-note-duet_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,337},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_music-note-duet_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,503},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_music-note-journey_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1275},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Awards/icon_music-note-journey_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1495},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Awards/icon_music-note-journey_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,1715},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Awards/icon_music-note-star.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1275},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Awards/icon_pmp-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,669},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_pmp-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,835},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/icon_pmp-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1001},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Awards/pianist_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1333},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>Awards/pianist_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1498},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>Awards/pianist_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1663},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>Awards/pianist_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1828},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>Awards/pianist-rank-greyed.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1167},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist_awards.png</string>
			<key>realTextureFileName</key>
			<string>plist_awards.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>