<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Achievements/Pianist/icon_cant-baffle-me-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_cant-baffle-me-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_cant-baffle-me-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_everyones-favorite-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_everyones-favorite-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_everyones-favorite-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_goingstrong-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_goingstrong-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_goingstrong-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_melodyhoarder-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_melodyhoarder-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_melodyhoarder-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_pianistchallenge-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_pianistchallenge-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_pianistchallenge-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_bigspender-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_bigspender-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_bigspender-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_checkerboard-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_checkerboard-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_checkerboard-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_combobreaker-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_combobreaker-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_combobreaker-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_crowncollector-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,0},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_crowncollector-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_crowncollector-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_diamonddream-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_diamonddream-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_diamonddream-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_glissando-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_glissando-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_glissando-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_legato-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_legato-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_legato-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_multitasker-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_multitasker-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_multitasker-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_songcollector-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_songcollector-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_songcollector-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_stargazer-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_stargazer-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_stargazer-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_tilemaster-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_tilemaster-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_tilemaster-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,156},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_beginnerchallenger-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_beginnerchallenger-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_beginnerchallenger-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-accomp-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-accomp-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-accomp-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-classical-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-classical-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-classical-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-combo-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-combo-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-combo-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-double-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-double-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-double-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-single-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-single-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-single-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-slider-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-slider-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-slider-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,312},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-classic-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-classic-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-classic-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-gameplay-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-gameplay-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-gameplay-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-speed-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-speed-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-speed-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_masterchallenger-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_masterchallenger-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_masterchallenger-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_skilledchallenger-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_skilledchallenger-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_skilledchallenger-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_hard-mode-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_hard-mode-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_hard-mode-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_musical-journey-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,468},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_musical-journey-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_musical-journey-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_perfect-journey-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_perfect-journey-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_perfect-journey-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_rising-star-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_rising-star-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_rising-star-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_JoS-lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_JoS-lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_JoS-lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_bigspender-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_checkerboard-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_combobreaker-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_crowncollector-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_diamonddream-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_glissando-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,624},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_legato-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_multitasker-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_songcollector-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_stargazer-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Normal/icon_tilemaster-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_beginnerchallenger-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-accomp-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-classical-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-combo-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-double-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-single-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_challenger-slider-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-classic-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-gameplay-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_hall-speed-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,780},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_masterchallenger-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Hall/icon_skilledchallenger-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_cant-baffle-me-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_everyones-favorite-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_goingstrong-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_melodyhoarder-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Pianist/icon_pianistchallenge-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_hard-mode-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_JoS-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_musical-journey-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_perfect-journey-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Journey/icon_rising-star-lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_best-team-ever_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,936},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_best-team-ever_lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_best-team-ever_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_best-team-ever_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_flawless_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_flawless_lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_flawless_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_flawless_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_fourhanded_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_fourhanded_lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_fourhanded_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_fourhanded_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,1092},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_lifesaver_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_lifesaver_lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1404},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_lifesaver_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1560},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_lifesaver_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1716},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_showtime-duet_lvl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1872},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_showtime-duet_lvl0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_showtime-duet_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>Achievements/Showtime/icon_showtime-duet_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,1248},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist_achievements.png</string>
			<key>realTextureFileName</key>
			<string>plist_achievements.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>