<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dialog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,794},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>bg_dialog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,859},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_valentine_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,859},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>bg_valentine_progressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{476,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,17}}</string>
                <key>sourceSize</key>
                <string>{476,17}</string>
            </dict>
            <key>bg_valentine_progressbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,859},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,667},{86,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,71}}</string>
                <key>sourceSize</key>
                <string>{86,71}</string>
            </dict>
            <key>btn_blue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,667},{86,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,71}}</string>
                <key>sourceSize</key>
                <string>{86,71}</string>
            </dict>
            <key>icon_valentine_box_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,960},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,960},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,960},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,960},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,960},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,961},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_valentine_box_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,961},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>image_black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,826},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>image_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,667},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>image_valentine_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{89,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,104}}</string>
                <key>sourceSize</key>
                <string>{89,104}</string>
            </dict>
            <key>image_valentine_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{505,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,413}}</string>
                <key>sourceSize</key>
                <string>{505,413}</string>
            </dict>
            <key>image_valentine_car_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,413}}</string>
                <key>sourceSize</key>
                <string>{505,413}</string>
            </dict>
            <key>image_valentine_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,417},{440,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,191}}</string>
                <key>sourceSize</key>
                <string>{440,191}</string>
            </dict>
            <key>image_valentine_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,769},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>image_valentine_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,859},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>image_valentine_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,903},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>image_valentine_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,417},{350,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,338}}</string>
                <key>sourceSize</key>
                <string>{350,338}</string>
            </dict>
            <key>image_valentine_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,769},{320,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,189}}</string>
                <key>sourceSize</key>
                <string>{320,189}</string>
            </dict>
            <key>image_valentine_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,417},{248,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,239}}</string>
                <key>sourceSize</key>
                <string>{248,239}</string>
            </dict>
            <key>image_valentine_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,755},{193,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,226}}</string>
                <key>sourceSize</key>
                <string>{193,226}</string>
            </dict>
            <key>image_valentine_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,417},{217,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,209}}</string>
                <key>sourceSize</key>
                <string>{217,209}</string>
            </dict>
            <key>image_valentine_peple.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,628},{196,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,203}}</string>
                <key>sourceSize</key>
                <string>{196,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_valentine_car.png</string>
            <key>size</key>
            <string>{1016,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed0d05e8c76dfeac5db1bdc064bea29:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_valentine_car.png</string>
        </dict>
    </dict>
</plist>
